@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&family=Rajdhani&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rajdhani',sans-serif;
    scroll-behavior: smooth;
    overflow-x:hidden;

}

.section-center{
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  /* background-attachment: fixed; */
  /* background-position: center; */
  background-size: cover;
  position: relative;
}


.section-center .positioned{
  position: absolute;
  top: 40%;
  left: 31px;
  width: 382px;
  height: 208px;
}
.section-center .positioned img{
  width: 296px;
}
.positioned h2{
  /* position: absolute; */
  font-size: 41px;
  font-family: 'Poppins';
  font-weight: bold;
  color: #01034C;
}
.positioned h1{
  background-color: #4479E2;
  width: 26rem;
  text-align: center;
  color: white;
  font-size: 40px;


}

@media (max-width:552px) {
  .section-center .positioned{
    width: 300px ;
    position: absolute;
    top: 24%;
    left: 5px;
  }  
  .positioned h1 {
    width: 20rem;
    font-size: 34px;
  }
  .positioned h2 {
    font-size: 38px;
  }
}
/* 
@media (min-width:500px) {
  .positioned{
    position: absolute;
    top: 24%;
    left: 31px;
  }
  
} */



.center{
    background-color: #000A1D;
    height: auto;
    width: 100%;
}


.center img{
    height:315px;
    width: 332px;
    margin-top: 22px;
    background: linear-gradient(#aed6e4);
}

.text-center h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 39px;
}

.About{
    color: #4479E2;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 39px;
}
.About p{
  font-size: 23px !important;
  font-family: 'Roboto' !important;
}


.spantag{
    color: #4479E2;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 39px;
}




  
  .card {
    padding: 2rem;
    margin: 30px auto;
    width: 260px;
    height: 310px;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.30), -3px -3px 20px 5px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {

    border-radius: 40px;
  }
  
  .card .card_image img {

    border-radius: 40px;
    object-fit: cover;
    width: 158px;
    height: 158px;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
    height: 40px;
  }
  
  /* .card:hover {
    transform: scale(0.9);
  } */
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  .title-white p{
    font-size: 17px;
    font-family: 'Roboto';
    padding: 26px !important;
  }



  


.technologies{
    background-color: #000A1D;
    width: 100%;
    height: auto;

  }

  .technologies .card{
    width: 216px !important;
    height: 283px !important;
    padding: 0 !important;
    border-radius: 24px !important;
    
  }
  
  .technologies .card img{
    width: 199px;
    height: 198px;
    margin-top: 10px;
    border-radius: 24px !important;
  }
  .technologies .btn{
    height: 44px;
    width: 180px;
    margin-top: 10px;
    background-color: #4479E2;
    font-size: 19px;
    color: white;
    font-weight: bold;
    font-size: 'Rajdhani';
    text-align: center;
  }


.image-mask{
  width: 505px;
  height: 497px;
}
@media (max-width:552px) {
  .image-mask{
    width: 349px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .lastsection h1 {
    padding-top: 0px !important;
  }

  
}


.lastsection p{
  text-align: left;
  font-size: 21px; 
  font-family: 'Poppins';
  padding: 38px;
  line-height: 37px;

}



@media (max-width:576px) {
  .card-img-top{
    width: 200px !important;
  }
  
}










